<%- include('../includes/header') %>

<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading"><%= lang.account.list.accountsActive %></p>
            <p class="title"><%= users.filter(tuser => tuser.status === "ALIVE").length %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading"><%= lang.account.list.unusedKeys %></p>
            <p class="title"><%= users.filter(tuser => tuser.status === "PENDING_REGISTRATION").length %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading"><%= lang.account.list.adminAccounts %></p>
            <p class="title"><%= users.filter(tuser => ["ADMIN", "OWNER"].includes(tuser.role)).length %></p>
        </div>
    </div>
</nav>

<hr />

<div class="columns">
    <div class="column is-3">
        <div class="buttons is-justify-content-center">
            <button class="button is-primary" data-toggle="modal" data-target="modalCreateAccount"><%= lang.account.list.createKey %></button>
        </div>

        <div class="notification is-light is-light">
            <div class="has-text-centered is-fullwidth mb-3">
                <h2 class="subtitle"><%= lang.account.list.rolePermissions.title %></h2>
            </div>
            <p>
                <b><%= lang.account.list.rolePermissions.noAccount %></b> : <%= lang.account.list.rolePermissions.noAccountDescription %><br /><br />
                <b><%= lang.account.list.rolePermissions.member %></b> : <%= lang.account.list.rolePermissions.memberDescription %><br /><br />
                <b><%= lang.account.list.rolePermissions.admin %></b> : <%= lang.account.list.rolePermissions.adminDescription %><br /><br />
                <b><%= lang.account.list.rolePermissions.owner %></b> : <%= lang.account.list.rolePermissions.ownerDescription %><br /><br />
            </p>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input search-input" data-target="exerciseTable" type="text" placeholder="<%= lang.account.list.searchAccounts %>" />
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth" id="exerciseTable">
                <thead>
                <tr>
                    <th><%= lang.account.list.table.username %></th>
                    <th style="width: 30%;"><%= lang.account.list.table.key %></th>
                    <th style="width: 15%;"><%= lang.account.list.table.role %></th>
                    <th style="width: 15%;"><%= lang.account.list.table.status %></th>
                    <th style="width: 5%; text-align: right;"><%= lang.account.list.table.actions %></th>
                </tr>
                </thead>
                <tbody>
                <% for (tuser of users) { %>
                    <tr>
                        <td class="is-vcentered">
                            <% if (tuser.username) { %>
                                <%= tuser.username %>
                            <% } else { %>
                                <progress class="progress is-small" style="max-width: <%= Math.floor(Math.random()*150) + 100 %>px;" value="0" max="1"></progress>
                            <% } %>
                        </td>
                        <td>
                            <code><%= tuser.key %></code>
                        </td>
                        <td>
                            <% if (tuser.role === "MEMBER") { %>
                                <span class="tag is-info"><%= lang.account.list.rolePermissions.member %></span>
                            <% } else if (tuser.role === "ADMIN") { %>
                                <span class="tag is-warning"><%= lang.account.list.rolePermissions.admin %></span>
                            <% } else if (tuser.role === "OWNER") { %>
                                <span class="tag is-danger"><%= lang.account.list.rolePermissions.owner %></span>
                            <% } %>
                        </td>
                        <td>
                            <% if (tuser.status === "ALIVE") { %>
                                <span class="tag is-success"><%= lang.account.list.table.alive %></span>
                            <% } else if (tuser.status === "SUSPENDED") { %>
                                <span class="tag is-danger"><%= lang.account.list.table.suspended %></span>
                            <% } else if (tuser.status === "PENDING_REGISTRATION") { %>
                                <span class="tag is-primary"><%= lang.account.list.table.pending_registration %></span>
                            <% } %>
                        </td>
                        <td style="text-align: right;">
                            <div class="field has-addons">
                                <button type="button" class="button is-small is-primary is-light" data-toggle="modal" data-target="modalEdit<%= tuser.id %>" title="<%= lang.account.list.table.edit %>">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="button is-small is-danger is-light" data-toggle="modal" data-target="modalDelete<%= tuser.id %>" title="<%= lang.account.list.table.delete %>">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="modalCreateAccount">
    <div class="modal-background" data-target="modalCreateAccount"></div>
    <div class="modal-content">
        <div class="box has-text-centered">
            <h1 class="title"><%= lang.account.list.createAccount.title %></h1>
            <form method="POST" action="/account/new" class="ajax">
                <input type="hidden" name="_csrf" value="<%= csrf() %>">
                <div class="select">
                    <select name="role">
                        <option value="MEMBER"><%= lang.account.list.rolePermissions.member %></option>
                        <option value="ADMIN"><%= lang.account.list.rolePermissions.admin %></option>
                    </select>
                </div>
                <button type="submit" class="button is-primary"><%= lang.account.list.createAccount.create %></button>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" data-target="modalCreateAccount"></button>
</div>

<% if (typeof newKey !== "undefined") { %>
    <div class="notification is-primary is-light">
        <span><%= lang.account.list.createAccount.keyCreated %> : <b class="is-family-code ml-2"><%= newKey %></b></span>
    </div>
<% } %>

<!-- Modals -->
<% for (const tuser of users) { %>
    <div class="modal" id="modalDelete<%= tuser.id %>">
        <div class="modal-background" data-target="modalDelete<%= tuser.id %>"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <h1 class="title"><%= lang.account.list.deleteAccount.title %></h1>
                <p class="is-family-primary"><%= lang.account.list.deleteAccount.description %><br /><code><%= tuser.key %></code> : "<%= tuser.username %>" ?</p>
                <form method="POST" action="/account/delete" class="ajax">
                    <input type="hidden" name="_csrf" value="<%= csrf() %>">
                    <input type="hidden" name="id" value="<%= tuser.id %>" />
                    <button type="submit" class="button is-danger mt-2"><%= lang.account.list.deleteAccount.delete %></button>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" data-target="modalDelete<%= tuser.id %>"></button>
    </div>

    <div class="modal" id="modalEdit<%= tuser.id %>">
        <div class="modal-background" data-target="modalEdit<%= tuser.id %>"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <h1 class="title"><%= lang.account.list.editAccount.title %></h1>
                <p class="is-family-primary mb-3"><%= lang.account.list.editAccount.description %> : <code><%= tuser.key %></code> : "<%= tuser.username %>"</p>
                <form method="POST" action="/account/adminedit" class="ajax">
                    <input type="hidden" name="_csrf" value="<%= csrf() %>">
                    <input type="hidden" name="id" value="<%= tuser.id %>" />
                    <div class="select">
                        <select name="role">
                            <option value="void" selected disabled>-- <%= lang.account.list.editAccount.newRole %> --</option>
                            <option value="MEMBER"><%= lang.account.list.rolePermissions.member %></option>
                            <option value="ADMIN"><%= lang.account.list.rolePermissions.admin %></option>
                        </select>
                    </div>
                    <br />
                    <div class="select">
                        <select name="status">
                            <option value="void" selected disabled>-- <%= lang.account.list.editAccount.newStatus %> --</option>
                            <option value="ALIVE"><%= lang.account.list.table.alive %></option>
                            <option value="SUSPENDED"><%= lang.account.list.table.suspended %></option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <button type="submit" class="button is-primary mt-2"><%= lang.account.list.editAccount.edit %></button>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" data-target="modalEdit<%= tuser.id %>"></button>
    </div>
<% } %>

<script>
    searchEvent();
</script>

<%- include('../includes/footer') %>
