<!DOCTYPE html>
<html lang="<%= lang.meta.lang %>>">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/assets/img/favicon.ico" />
    <title>Studious Hexa Memory</title>

    <!-- SEO -->
    <meta name="description" content="<%= lang.meta.description %>" />
    <meta name="author" content="Yohann THEPAUT <contact@ythepaut.com> (ythepaut)" />

    <!-- Style -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <!-- KateX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.css" integrity="sha384-qCEsSYDSH0x5I45nNW4oXemORUZnYFtPy/FqB/OjqxabTMW5HVaaH9USK4fN3goV" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.js" integrity="sha384-YFVvRUwgqxkAVN9bmAVLsKilmOKfQLyUx0ZlmDNs0aBUTsvMLnRxE3Km0NrZa0i9" crossorigin="anonymous"></script>

    <script src="/js/utils.js"></script>
    <script defer src="/js/modal.js"></script>
    <script defer src="/js/tab.js"></script>
    <script defer src="/js/navbar.js"></script>
    <script defer src="/js/ajax.js"></script>
    <script defer src="/js/loading.js"></script>
</head>

<body>

    <nav class="navbar" aria-label="main navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/logo.png" width="330" height="28" alt=" ">
            </a>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <%= lang.header.practice %>
                </a>


                <% if (typeof user !== "undefined" && (user.role === "ADMIN" || user.role === "OWNER")) { %>
                    <a class="navbar-item" href="/exercise/list">
                        <%= lang.header.manageExercises %>
                    </a>
                <% } %>

                <% if (typeof user !== "undefined" && user.role === "OWNER") { %>
                    <a class="navbar-item" href="/account/list">
                        <%= lang.header.manageUsers %>
                    </a>
                <% } %>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <%= lang.header.more %>
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about">
                            <%= lang.header.about %>
                        </a>
                        <a class="navbar-item" href="/legal">
                            <%= lang.header.legal %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-light" href="/account/me">
                            <% if (typeof user !== "undefined") { %>
                                <%= lang.header.hello %> <%= user.username %> !
                            <% } else { %>
                                    <span class="icon is-small">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </span>
                                    <span><%= lang.header.connect %></span>
                            <% } %>
                        </a>
                        <button class="button is-light" data-toggle="modal" data-target="modalChangeLanguage">
                            <b><i class="fas fa-globe"></i>&nbsp;&nbsp;<%= lang.header.lang %></b>
                        </button>
                        <a class="button is-light" href="https://github.com/ythepaut/studious-hexa-memory" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <main>

        <div class="loading-container">
            <div class="loading-animation"></div>
        </div>

        <div class="modal" id="modalChangeLanguage">
            <div class="modal-background" data-target="modalChangeLanguage"></div>
            <div class="modal-content">
                <div class="box has-text-centered">
                    <form method="POST" action="/lang" class="ajax">
                        <h1 class="title"><%= lang.header.modalChangeLanguage.changeLangTitle %></h1>
                        <div class="select">
                            <select name="lang">
                                <% for (const supported of supportedLangs) { %>
                                    <option value="<%= supported.iso %>"><%= supported.iso %> - <%= supported.language %></option>
                                <% } %>
                            </select>
                        </div>
                        <br />
                        <button type="submit" class="button is-primary mt-2"><%= lang.header.modalChangeLanguage.choose %></button>
                    </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" data-target="modalChangeLanguage"></button>
        </div>
