<%- include('../includes/header') %>

<div class="columns is-vcentered">
    <div class="column">

        <p class="is-size-5" style="top:30%;">
            <b><%= getString(lang.legal.editor.description) %></b><br />
            <a href="https://www.ythepaut.com/" target="_blank">Yohann THEPAUT</a><br />
            <br />
            <b><%= getString(lang.legal.webmaster.description) %></b><br />
            <%- getString(lang.legal.webmaster.value) %><br />
            <br />
            <b><%= getString(lang.legal.host.description) %></b><br />
            <%- getString(lang.legal.host.value) %><br />
        </p>

    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/legal.png" alt="" />
    </div>
</div>


<%- include('../includes/footer') %>
