<%- include('../includes/header') %>

<div class="columns is-vcentered">
    <div class="column">

        <p class="is-size-5" style="top:30%;">
            <b><%= lang.legal.editor %></b><br />
            M. THEPAUT Yohann<br />
            <br />
            <b><%= lang.legal.host %> :</b><br />
            <%= lang.legal.hostedBy %><br />
            OVH<br />
            2 rue Kellermann<br />
            59100 Roubaix
        </p>

    </div>

    <div class="column is-two-fifths">
        <img src="/assets/img/legal.png" alt="" />
    </div>
</div>


<%- include('../includes/footer') %>
