<%- include('../includes/header') %>

<h1 class="title">
    Modification d'exercice
</h1>
<h3 class="subtitle">
    <%= exercise.id %>
</h3>

<form method="POST" action="/exercise/edit" class="ajax">

    <input type="hidden" name="_csrf" value="<%= csrf() %>">

    <!-- Title -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Titre</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="txtTitle" name="title" value="<%= exercise.title %>" maxlength="256" required />
                </p>
            </div>
        </div>
    </div>

    <!-- Title Preview -->
    <label class="label">Prévisualisation du titre</label>
    <div class="box">
        <p style="white-space: pre;" id="pTitle">

        </p>
    </div>

    <hr />

    <!-- Statement -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Énoncé</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtStatement" name="statement" maxlength="16384" required><%= exercise.statement %></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Statement Preview -->
    <label class="label">Prévisualisation de l'énoncé</label>
    <div class="box">
        <p style="white-space: pre;" id="pStatement">

        </p>
    </div>

    <hr />

    <!-- Response -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Réponse</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtResponse" name="response" maxlength="16384" required><%= exercise.response %></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Repsonse Preview -->
    <label class="label">Prévisualisation de la réponse</label>
    <div class="box">
        <p style="white-space: pre;" id="pResponse">

        </p>
    </div>

    <hr />

    <!-- Timer -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Temps imparti (en secondes)</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="number" min="1" max="14400" name="time" value="<%= exercise.time %>" />
                </p>
            </div>
        </div>
    </div>

    <hr />

    <!-- Tags -->
    <div class="field">
        <div class="is-normal">
            <label class="label">Tags</label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="tags" value="<%= exercise.tags.join(",") %>" />
                </p>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="<%= exercise.id %>">

    <button type="submit" class="button is-primary mt-2">Modifier</button>
</form>


<script>
    addPreviewUpdate(document.querySelector("#txtTitle"), document.querySelector("#pTitle"), true, false);
    addPreviewUpdate(document.querySelector("#txtStatement"), document.querySelector("#pStatement"), true, true);
    addPreviewUpdate(document.querySelector("#txtResponse"), document.querySelector("#pResponse"), true, true);
</script>

<%- include('../includes/footer') %>
