<%- include('../includes/header') %>

<div class="box">
    <h1 class="title has-text-centered"><%= getString(lang.practice.end.title) %></h1>
    <h2 class="subtitle has-text-centered">
        <% if (practice.endReason === "MANUAL") { %>
            <%= getString(lang.practice.end.cause.manual) %>
        <% } else if (practice.endReason === "MAX_REACHED") { %>
            <%= getString(lang.practice.end.cause.max) %>
        <% } else if (practice.endReason === "DEPLETED") { %>
            <%= getString(lang.practice.end.cause.depleted) %>
        <% } %>
    </h2>

    <hr />

    <div class="mt-3 has-text-centered">
        <span class="is-size-4"><%= getString(lang.practice.end.stats.title) %></span>
    </div>

    <div class="columns is-align-items-center is-justify-content-center mt-3">

        <div class="column is-3 is-parent is-vertical">

            <article class="tile is-child notification is-light mt-3">
                <h3><%= getString(lang.practice.end.stats.exercisesDone) %></h3>
                <span class="is-size-3"><%= practice.exercisesDone.length %></span>
            </article>
            <br />
            <article class="tile is-child notification is-light mt-3">
                <h3><%= getString(lang.practice.end.stats.passRate) %></h3>
                <span class="is-size-3">
                    <% if (practice.exercisesDone.length) { %>
                        <%= Math.trunc(practice.exerciseSuccessCount / practice.exercisesDone.length * 100) %>%
                    <% } else { %>
                        0%
                    <% } %>
                </span>
            </article>

        </div>


        <div class="column is-offset-1 is-4">
            <img src="/assets/img/end.png" alt="" />
        </div>

    </div>

    <hr />

    <div class="mt-3 has-text-centered">
        <span class="is-size-4"><%= getString(lang.practice.end.summary.title) %></span>

        <div class="table-container">
            <table class="table is-striped is-fullwidth has-text-left mt-4">
                <thead>
                <tr>
                    <th style="width:5%;"><abbr title="<%= getString(lang.practice.end.summary.table.hoverToSeeID) %>"><%= getString(lang.generic.table.number) %></abbr></th>
                    <th style="width:50%;"><%= getString(lang.generic.other.exercise.title) %></th>
                    <th style="width:30%;"><%= getString(lang.generic.other.tags) %></th>
                    <th><%= getString(lang.practice.end.summary.table.passed) %></th>
                </tr>
                </thead>
                <tbody>
                    <%
                    var i = 0;
                    for (const exercise of practice.exercisesDone) {
                    i += 1;
                    %>
                    <tr>
                        <th><span title="<%= exercise.id %>"><%= i %></span></th>
                        <td><%= exercise.title %></td>
                        <td>
                            <% for (const tag of exercise.tags) { %>
                                <span class="tag is-primary is-small"><%= tag.toUpperCase() %></span>
                            <% } %>
                        </td>
                        <td>
                            <% if (exercise.success) { %>
                                <span class="tag is-success"><%= getString(lang.generic.other.yes) %></span>
                            <% } else { %>
                                <span class="tag is-danger"><%= getString(lang.generic.other.no) %></span>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    <div class="mt-3 has-text-centered">
        <form method="POST" action="/">
            <input type="hidden" name="_csrf" value="<%= csrf() %>">
            <input class="button is-warning is-small mt-3" type="submit" name="finish" value="<%= getString(lang.practice.end.finish) %>" />
        </form>
    </div>
</div>

<script>
    // Render LateX from table
    document.querySelectorAll("td:nth-child(2)").forEach((element) => {
        element.innerHTML = formatLatexImage(element.innerHTML.replace(/\n/g, " "), true, false);
    });
</script>

<%- include('../includes/footer') %>
