<%- include('../includes/header') %>

<div class="box is-align-items-center is-justify-content-center">
    <h1 class="title has-text-centered"><%= getString(lang.exercise.import.title) %></h1>

    <form method="POST" action="/exercise/import?_csrf=<%= csrf() %>" enctype="multipart/form-data" class="has-text-centered">

        <p>
            <%- getString(lang.exercise.import.description) %>
        </p>

        <div class="file has-name is-justify-content-center mt-3">
            <label class="file-label">
                <input class="file-input" type="file" name="file" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        <%= getString(lang.exercise.import.chooseFile) %>
                    </span>
                </span>
                <span class="file-name">
                    <%= getString(lang.exercise.import.noFileChosen) %>
                </span>
            </label>
        </div>

        <input class="button is-primary mt-3" type="submit" value="<%= getString(lang.generic.actions.import) %>" />
    </form>
</div>

<script>
    // updates file name in file input
    const fileInput = document.querySelector(".file input[type=file]");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector(".file .file-name");
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>

<%- include('../includes/footer') %>
