<%- include('../includes/header') %>


<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Nombre d'exercices</p>
            <p class="title"><%= exercises.length %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Temps cumulé des exercices</p>
            <p class="title">
                <%
                    var s = 0;
                    for (const exercise of exercises) {
                        s += exercise.time;
                    }
                    var h = Math.floor(s / 3600);
                    s -= h * 3600;
                    var m = Math.floor(s / 60);
                    s -= m * 60;
                %>
                <%= h %>h <%= m %>m <%= s %>s
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Exercices effectués</p>
            <p class="title"><%= exerciseDone %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Pourcentage de réussite</p>
            <p class="title"><%= successRate %>%</p>
        </div>
    </div>
</nav>

<hr />

<div class="columns">
    <div class="column">
        <div class="buttons">
            <a class="button is-primary" href="/manage/new">Ajouter un exercice</a>
            <a class="button is-light" disabled>Importer</a>
            <a class="button is-light" disabled>Exporter</a>
        </div>
    </div>
    <div class="column is-two-thirds">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input search-input" data-target="exerciseTable" type="text" placeholder="Rechercher parmis les exercices" />
                <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
        </span>
            </p>
        </div>
    </div>
</div>


<table class="table is-striped is-hoverable is-fullwidth" id="exerciseTable">
    <thead>
    <tr>
        <th style="width: 30%;">Titre</th>
        <th style="width: 50%;">Consigne</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
        <% for (const exercise of exercises) { %>
            <tr>

                <th><a href="/manage/edit/<%= exercise.id %>"><%= exercise.title %></a></th>
                <td>
                    <% if (exercise.statement.length > 100) { %>
                        <%= exercise.statement.substr(0,100) %>...
                    <% } else { %>
                        <%= exercise.statement %>
                    <% } %>
                </td>
                <td>
                    <% for (const tag of exercise.tags) { %>
                        <span class="tag is-primary is-small"><%= tag.toUpperCase() %></span>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<script>
    searchEvent();
</script>

<%- include('../includes/footer') %>
