<%- include('../includes/header') %>


<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Nombre d'exercices</p>
            <p class="title"><%= exercises.length %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Temps cumulé des exercices</p>
            <p class="title">
                <%
                    var s = 0;
                    for (const exercise of exercises) {
                        s += exercise.time;
                    }
                    var h = Math.floor(s / 3600);
                    s -= h * 3600;
                    var m = Math.floor(s / 60);
                    s -= m * 60;
                %>
                <%= h %>h <%= m %>m <%= s %>s
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Exercices effectués</p>
            <p class="title"><%= exerciseDone %></p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Pourcentage de réussite</p>
            <p class="title"><%= successRate %>%</p>
        </div>
    </div>
</nav>

<hr />

<div class="columns">
    <div class="column">
        <div class="buttons is-justify-content-center">
            <a class="button is-primary" href="/exercise/new">Ajouter un exercice</a>
            <a class="button is-light" href="/exercise/import">Importer</a>
            <a class="button is-light" href="/exercise/export" target="_blank">Exporter</a>
        </div>
    </div>
    <div class="column is-two-thirds">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input search-input" data-target="exerciseTable" type="text" placeholder="Rechercher parmis les exercices" />
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth" id="exerciseTable">
        <thead>
        <tr>
            <th style="width: 30%;">Titre</th>
            <th style="width: 50%;">Consigne</th>
            <th>Tags</th>
            <th style="width: 5%; text-align: right;">Actions</th>
        </tr>
        </thead>
        <tbody>
            <% for (const exercise of exercises) { %>
                <tr>

                    <th><a href="/exercise/edit/<%= exercise.id %>"><%= exercise.title %></a></th>
                    <td>
                        <% if (exercise.statement.length > 100) { %>
                            <%= exercise.statement.substr(0,100) %>...
                        <% } else { %>
                            <%= exercise.statement %>
                        <% } %>
                    </td>
                    <td>
                        <% for (const tag of exercise.tags) { %>
                            <span class="tag is-primary is-small"><%= tag.toUpperCase() %></span>
                        <% } %>
                    </td>
                    <td style="text-align: right;">
                        <div class="field has-addons">
                            <a class="button is-small is-primary is-light" title="Modifier" href="/exercise/edit/<%= exercise.id %>">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <form method="POST" action="/exercise/clone" id="clone<%= exercise.id %>">
                                <input type="hidden" name="id" value="<%= exercise.id %>" />
                            </form>
                            <button type="submit" form="clone<%= exercise.id %>" class="button is-small is-link is-light" title="Dupliquer">
                                <i class="fas fa-clone"></i>
                            </button>
                            <button type="button" class="button is-small is-danger is-light" data-toggle="modal" data-target="modalDelete<%= exercise.id %>" title="Supprimer">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>


<!-- Delete modal & form -->
<% for (const exercise of exercises) { %>
    <div class="modal" id="modalDelete<%= exercise.id %>">
        <div class="modal-background" data-target="modalDelete<%= exercise.id %>"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <h1 class="title">Supprimer l'exercice</h1>
                <p class="is-family-primary">Êtes-vous sûr de vouloir supprimer l'exercice<br />"<%= exercise.title %>" ?</p>
                <form method="POST" action="/exercise/delete" class="ajax">
                    <input type="hidden" name="id" value="<%= exercise.id %>" />
                    <button type="submit" class="button is-danger mt-2">Supprimer</button>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" data-target="modalDelete<%= exercise.id %>"></button>
    </div>
<% } %>


<script>
    // Search exercise input
    searchEvent();

    // Render LateX from table
    document.querySelectorAll("th:nth-child(1) > a,td:nth-child(2)").forEach((element) => {
        element.innerHTML = formatLatexImage(element.innerHTML.replace(/\n/g, " "), true, false);
    });
</script>

<%- include('../includes/footer') %>
