<%- include('../includes/header') %>

<h1 class="title">
    <%= getString(lang.exercise.create.title) %>
</h1>

<form method="POST" action="/exercise/new" class="ajax">

    <input type="hidden" name="_csrf" value="<%= csrf() %>">

    <!-- Title -->
    <div class="field">
        <div class="is-normal">
            <label class="label"><%= getString(lang.generic.other.exercise.title) %></label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="txtTitle" name="title" placeholder="<%= getString(lang.exercise.create.placeholders.title) %>" maxlength="256" required />
                </p>
            </div>
        </div>
    </div>

    <!-- Title Preview -->
    <label class="label"><%= getString(lang.exercise.create.fields.previewTitle) %></label>
    <div class="box">
        <p style="white-space: pre;" id="pTitle">

        </p>
    </div>

    <hr />

    <!-- Statement -->
    <div class="field">
        <div class="is-normal">
            <label class="label"><%= getString(lang.generic.other.exercise.statement) %></label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtStatement" name="statement" placeholder="<%= getString(lang.exercise.create.placeholders.statement) %>" maxlength="16384" required></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Statement Preview -->
    <label class="label"><%= getString(lang.exercise.create.fields.previewStatement) %></label>
    <div class="box">
        <p id="pStatement">

        </p>
    </div>

    <hr />

    <!-- Response -->
    <div class="field">
        <div class="is-normal">
            <label class="label"><%= getString(lang.generic.other.exercise.response) %></label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="txtResponse" name="response" placeholder="<%= getString(lang.exercise.create.placeholders.response) %>" maxlength="16384" required></textarea>
                </p>
            </div>
        </div>
    </div>

    <!-- Repsonse Preview -->
    <label class="label"><%= getString(lang.exercise.create.fields.previewResponse) %></label>
    <div class="box">
        <p id="pResponse">

        </p>
    </div>

    <hr />

    <!-- Timer -->
    <div class="field">
        <div class="is-normal">
            <label class="label"><%= getString(lang.exercise.create.fields.timeLimit) %></label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="number" min="1" max="14400" name="time" placeholder="600" required />
                </p>
            </div>
        </div>
    </div>

    <hr />

    <!-- Tags -->
    <div class="field">
        <div class="is-normal">
            <label class="label"><%= getString(lang.exercise.create.fields.tags) %></label>
        </div>
        <div class="field-body mt-1">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" name="tags" placeholder="<%= getString(lang.exercise.create.placeholders.tags) %>" />
                </p>
            </div>
        </div>
    </div>

    <button type="submit" class="button is-primary mt-2"><%= getString(lang.generic.actions.create) %></button>

</form>

<script>
    addPreviewUpdate(document.querySelector("#txtTitle"), document.querySelector("#pTitle"), true, false);
    addPreviewUpdate(document.querySelector("#txtStatement"), document.querySelector("#pStatement"), true, true);
    addPreviewUpdate(document.querySelector("#txtResponse"), document.querySelector("#pResponse"), true, true);
</script>

<%- include('../includes/footer') %>
